$darkmode: False;
$transparent: False;
$background: #1a1110;
$onBackground: #f1dfdc;
$surface: #1a1110;
$surfaceDim: #1a1110;
$surfaceBright: #423735;
$surfaceContainerLowest: #140c0b;
$surfaceContainerLow: #231918;
$surfaceContainer: #271d1c;
$surfaceContainerHigh: #322826;
$surfaceContainerHighest: #3d3231;
$onSurface: #f1dfdc;
$surfaceVariant: #534341;
$onSurfaceVariant: #d8c2be;
$inverseSurface: #f1dfdc;
$inverseOnSurface: #392e2c;
$outline: #a08c89;
$outlineVariant: #534341;
$shadow: #000000;
$scrim: #000000;
$primary: #ffb4a8;
$onPrimary: #561e17;
$primaryContainer: #73342b;
$onPrimaryContainer: #ffdad5;
$inversePrimary: #904a40;
$secondary: #e7bdb6;
$onSecondary: #442925;
$secondaryContainer: #5d3f3b;
$onSecondaryContainer: #ffdad5;
$tertiary: #dec38c;
$onTertiary: #3e2e04;
$tertiaryContainer: #564419;
$onTertiaryContainer: #fbdfa6;
$error: #ffb4ab;
$onError: #690005;
$errorContainer: #93000a;
$onErrorContainer: #ffdad6;
$primaryFixed: #ffdad5;
$primaryFixedDim: #ffb4a8;
$onPrimaryFixed: #3b0905;
$onPrimaryFixedVariant: #73342b;
$secondaryFixed: #ffdad5;
$secondaryFixedDim: #e7bdb6;
$onSecondaryFixed: #2c1512;
$onSecondaryFixedVariant: #5d3f3b;
$tertiaryFixed: #fbdfa6;
$tertiaryFixedDim: #dec38c;
$onTertiaryFixed: #251a00;
$onTertiaryFixedVariant: #564419;
$success: #B5CCBA;
$onSuccess: #213528;
$successContainer: #374B3E;
$onSuccessContainer: #D1E9D6;
$term0: #0D1C20;
$term1: #8383FF;
$term2: #63DFD4;
$term3: #75FCDD;
$term4: #76B4BD;
$term5: #7AAEEA;
$term6: #81D8D7;
$term7: #CCDBD5;
$term8: #B1BCB5;
$term9: #BCB9FF;
$term10: #F6FFFD;
$term11: #FFFFFF;
$term12: #BEE3E5;
$term13: #C8DAFF;
$term14: #E5FFFE;
$term15: #ADEDF6;
