@import "../../.cache/wal/colors-waybar.css";

:root {
    --border-color: rgba(241, 241, 241, 0.15);
    --border-color-active: rgba(241, 241, 241, 0.25);
    --bg-color: shade(@color3, 0.26);
    --bg-color-hover: shade(@color3, 0.40);
    --index-border-color: rgba(241, 241, 241, 0.20);
    --border-radius: 10px;
    --border-size: 3px;
}

