@use "sass:string";
@use "sass:color";
@import "../../.cache/wal/colors-ags.scss";

@function gtkalpha($c, $a) {
    @return string.unquote("alpha(#{$c},#{$a})");
}

$bg: color.scale($color3, $lightness: -74%);
$fg: #f1f1f1;
$bg: rgba(23, 23, 23, 1);
$radius: 15px;
$border-color: gtkalpha($fg, .03);
$border-width: 1px;

* {
    -gtk-icon-shadow: none;
    box-shadow: none;
    outline: 0;
    border: 0;
    color: $fg;
    transition: .3s;
}
window.Bar {
    border: 0;
    color: $fg;
    font-size: 1.1em;
    font-weight: bold;
    
    centerbox {
        background-color: $bg;
        margin: 0;
        border-radius: 0;
        padding: 0 2px;
    }
    
    label {
        margin: 0 8px;
    }
    .dot {
        background: gtkalpha($fg, .2);
        padding: 2px;
        border-radius: 50px;
        margin: 0 2px;
    }
    .sidebar-button {
        icon {
            margin: 0 3px;
        }
    }
    button {
        padding: 0 5px;
        background: transparent;
        border-radius: calc($radius / 1.5);
        margin: 2px 1px;
        &.active {
            background: $color3;
            color: color.scale($color3, $lightness: -90%);
            &:hover {
                background: color.scale($color3, $lightness: 10%);
            }
            &:active {
                background: color.scale($color3, $lightness: -10%);
            }
        }
        &:hover {
            background: gtkalpha($fg, .1);
        }
    }
    
    .Workspaces  {
        background: transparent;
        border-radius: calc($radius / 1.5);
        margin: 1px;
        button {
            all: unset;
            border-radius: calc($radius / 1.5);
            &:hover label {
                color: #f6f5f4;
                background: color.scale($color3, $lightness: -20%);
            }

            &:active label {
                background: color.scale($color3, $lightness: -10%);
                color: #f6f5f4;
            }
        }

        label {
            transition: 200ms;
            padding: 0 8px;
            margin: 2px;
            border-radius: calc($radius / 1.5);
            border: 1pt solid transparent;
        }

        .focused label {
            color: #f6f5f4;
            background-color: $color3;
            padding: 0px 8px;
        }
    }
    .Time {
        background: transparent;
        border-radius: calc($radius / 1.5);
        padding: 0 6px;
        margin: 0px;
        
    }
    .SysTray {
        margin: 2px;
        border-radius: calc($radius / 1.5);

        button {
            padding: 0 4px;
            background: transparent;
            border: 0;
            margin: 1px;
            border-radius: calc($radius / 1.5);
            background: gtkalpha($fg, .02);
        }
        button:hover {
            background: gtkalpha($fg, .16);
        }
    }

    .FocusedClient {
        color: $fg;
    }

    .Media .Cover {
        min-height: 1.2em;
        min-width: 1.2em;
        border-radius: 7px;
        background-position: center;
        background-size: contain;
    }

    .Battery label {
        padding-left: 0;
        margin-left: 0;
    }
}
window {
 all: unset;
}
box.desktop {
    button {
        background: transparent;
        border: 0;
        padding: 10px;
        margin: 5px;
        min-width: 50px;
        border-radius: $radius;
        &:hover {
            background: gtkalpha($fg, .2);
        }
        icon {
            font-size: 75px;
        }
    }
    .widget {
        background: $bg;
        box-shadow: 2px 3px 8px 0 gtkalpha(black, .4);
        margin: 6px;
        padding: 5px;
        border-radius: calc($radius / 1.5);
    }
}
.sidebar {
    background-color: $bg;
    color: $fg;
    font-size: 1.1em;
    font-weight: bold;
    margin: 5px;
    min-width: 425px;
    padding: 5px 10px;
    border: 0;
    border-radius: $radius;
    box.control {
        margin: 10px 0;
        padding: 5px;
        background: gtkalpha(white, .05);
        border-radius: calc($radius * 1.5);
        button {
            background: transparent;
            border: 0;
            font-size: 20px;
            padding: 6px 10px;
            border-radius: calc($radius * 1.5);  
            &.thick { 
                padding: 8px 20px;
            }
            &:hover {
                background: gtkalpha($fg, .1);
            }
            &.active {
                background: $color3;
                color: color.scale($color3, $lightness: -90%);
                &:hover {
                    background: color.scale($color3, $lightness: 10%);
                }
                &:active {
                    background: color.scale($color3, $lightness: -10%);
                }
            }
            label {
                font-size: 14px;
                margin: 0 0 0 3px;
            }
        }
    }
    .group {
        background: gtkalpha($fg, .05);
        padding: 10px;
        border: 0;
        margin: 5px 0;
        border-radius: $radius;
        .AudioSlider {
            margin: 10px 0;
        * {
            all: unset;
        }

        icon {
            margin-right: .6em;
        }

        & {
            margin: 0 1em;
        }

        trough {
            background-color: gtkalpha($fg, .2);
            border-radius: 7px;
        }

        highlight {
            background-color: $color3;
            min-height: .8em;
            border-radius: 7px;
        }

        slider {
            background-color: transparent;
            border-radius: 7px;
            min-width: 1em;
            margin: -.2em;
        }
    }
    }
    .group.top {
        background: transparent;
        button {
            border: 0;
            background: transparent;
            font-size: 20px;
            padding: 8px 11px;
            border-radius: $radius;  
            &:hover {
                background: gtkalpha($fg, .1);
            }
        }
    }
    .group stack box box .actions button {
        background: gtkalpha($fg, .1);
        border-radius: $radius;
        &:hover {
            background: gtkalpha($fg, .15);
        }
        &:active {
            background: gtkalpha($fg, .05);
        }
    }
    eventbox.Notification {
        *button {
            background: gtkalpha($fg, .1);
            border: 0;
            -gtk-icon-shadow: none;
        }
        *button:hover {
            background: gtkalpha($fg, .15);
        }
        &:first-child>box {
            margin-top: 1rem;
        }

        &:last-child>box {
            margin-bottom: 1rem;
        }

        // eventboxes can not take margins so we style its inner box instead
        >box {
            min-width: 350px;
            border-radius: 13px;
            background-color: gtkalpha($fg, .1);
            margin: .5rem 1rem .5rem 1rem;
            box-shadow: none;
        }

        &.critical>box {
            border: 1pt solid gtkalpha(red, .4);

            .header {

                .app-name {
                    color: gtkalpha(red, .8);

                }

                .app-icon {
                    color: gtkalpha(red, .6);
                }
            }
        }

        .header {
            padding: .5rem;
            color: gtkalpha($fg, 0.5);

            .app-icon {
                margin: 0 .4rem;
            }

            .app-name {
                margin-right: .3rem;
                font-weight: bold;

                &:first-child {
                    margin-left: .4rem;
                }
            }

            .time {
                margin: 0 .4rem;
            }

            button {
                padding: .2rem;
                min-width: 0;
                min-height: 0;
            }
        }

        separator {
            margin: 0 .4rem;
            background-color: gtkalpha($fg, .1);
        }

        .content {
            margin: 1rem;
            margin-top: .5rem;

            .summary {
                font-size: 1.2em;
                color: $fg;
            }

            .body {
                color: gtkalpha($fg, 0.8);
            }

            .image {
                border: 1px solid gtkalpha($fg, .02);
                margin-right: .5rem;
                border-radius: 9px;
                min-width: 100px;
                min-height: 100px;
                background-size: cover;
                background-position: center;
            }
        }

        .actions {
            margin: 1rem;
            margin-top: 0;

            button {
                margin: 0 .3rem;


                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    .stackbar {
        border-bottom: 1px solid gtkalpha($fg, .2);
        button {
            background: transparent;
            border-bottom: 2px solid transparent;
            border-radius: 0;
            &.active {
                border-bottom: 2px solid color.scale($color3, $lightness: 30%);
                box {
                    icon {
                        color: color.scale($color3, $lightness: 25%);
                    }
                    label {
                        color: color.scale($color3, $lightness: 25%);
                    }
                }
            }
            &:hover {
                box {
                    icon {
                        color: color.scale($color3, $lightness: 40%);
                    }
                    label {
                        color: color.scale($color3, $lightness: 40%);
                    }
                }
            }
            &:active {
                box {
                    icon {
                        color: color.scale($color3, $lightness: -10%);
                    }
                    label {
                        color: color.scale($color3, $lightness: -10%);
                    }
                }
            }
        }
    }
    .stackbar.horizontal {
        border: 0;
        button {
            background: transparent;
            border-bottom: 2px solid transparent;
            border-radius: 0;
            box {
                icon {
                    padding: 6px 14px;
                    font-size: 18px;
                    border-radius: $radius;
                }
                label {
                    color: $fg;
                }
            }
            &.active {
                box {
                    icon {
                        background: gtkalpha(color.scale($color3, $lightness: 25%), .25);
                        color: color.scale($color3, $lightness: 85%);
                    }
                }
                &:hover {
                    box {
                        icon {
                            background: gtkalpha(color.scale($color3, $lightness: 25%), .15);
                        }
                    }
                }
                &:active {
                    box {
                        icon {
                            background: gtkalpha(color.scale($color3, $lightness: 25%), .2);
                        }
                    }
                }
            }
            &:hover {
                box {
                    icon {
                        background: gtkalpha($fg, .1);
                        color: $fg;
                    }
                }
            }
            &:active {
                box {
                    icon {
                        background: gtkalpha($fg, .2);
                        color: $fg;
                    }
                }
            }
        }
    }
}
.calendar-menu-content * {
    /*font-size: $font-size * $bar-menus-menu-clock-scaling * 0.01;*/
}

.calendar-content-container {
    margin-top: 0em;
    min-width: 27em;
    min-height: 6em;
    background: transparent;
    /*border: $bar-menus-border-size solid
        if($bar-menus-monochrome, $bar-menus-border-color, $bar-menus-menu-clock-border-color);*/
    border-radius: $radius;
}

.calendar-menu-item-container {
    border-radius: $radius;
    margin-bottom: 1.35em;
    //background: if($bar-menus-monochrome, $bar-menus-cards, $bar-menus-menu-clock-card-color);
}

.calendar-content-items {
    margin: 1.35em;
}

.calendar-container-box {
    margin: 0.75em;
    margin-bottom: 0em;
}

.calendar-menu-widget {
    border-radius: 0.4em;
    background: transparent;
    //color: if($bar-menus-monochrome, $bar-menus-text, $bar-menus-menu-clock-calendar-days);

    &:selected {
        /*box-shadow:
            inset 0 -0.5em 0 0 if($bar-menus-monochrome, $bar-menus-label, $bar-menus-menu-clock-calendar-currentday),
            inset -0.4em -0.3em 0 0 if($bar-menus-monochrome, $bar-menus-cards, $bar-menus-menu-clock-card-color),
            inset 0.4em 0 0 0.01em if($bar-menus-monochrome, $bar-menus-cards, $bar-menus-menu-clock-card-color);
        color: if($bar-menus-monochrome, $bar-menus-label, $bar-menus-menu-clock-calendar-currentday);*/
        background: gtkalpha(color.scale($color3, $lightness: 25%), .85);
        border-radius: $radius;
        &:hover {
            background: color.scale($color3, $lightness: -25%);
        }
    }

    &.header {
        background-color: transparent;
        //color: if($bar-menus-monochrome, $bar-menus-label, $bar-menus-menu-clock-calendar-yearmonth);
    }

    &.button {
        //color: $text;
        font-weight: 900;
        font-size: 900em;
    }

    &:hover {
        //color: if($bar-menus-monochrome, $bar-menus-icons-active, $bar-menus-menu-clock-calendar-paginator);
    }

    &.highlight {
        //color: if($bar-menus-monochrome, $bar-menus-icons-active, $bar-menus-menu-clock-calendar-weekdays);
    }

    &:indeterminate {
        //color: transparentize(if($bar-menus-monochrome, $bar-menus-text, $bar-menus-menu-clock-calendar-days), 0.65);
    }
    
}

.clock-content-items {
    min-height: 8em;

    .clock-content-time {
        font-size: 4em;
        //color: if($bar-menus-monochrome, $bar-menus-label, $bar-menus-menu-clock-time-time);
    }

    .clock-content-period {
        font-size: 1.75em;
        margin-bottom: 1.35em;
        margin-right: -0.875em;
        //color: if($bar-menus-monochrome, $bar-menus-label, $bar-menus-menu-clock-time-timeperiod);
    }
}

.calendar-menu-item-container {
    margin-bottom: 0.65em;
    &:last-child {
        margin-bottom: 0em;
    }
}

.weather-container-box {
    margin: 1.5em;
    margin-top: 2.5em;
    min-width: 3em;

    .calendar-menu-weather.today.icon {
        label {
            //color: if($bar-menus-monochrome, $bar-menus-icons-active, $bar-menus-menu-clock-weather-icon);
            font-size: 5em;
        }
    }

    .calendar-menu-weather.today.temp.label {
        //color: if($bar-menus-monochrome, $bar-menus-text, $bar-menus-menu-clock-weather-temperature);
        margin-left: 0.2em;
        font-size: 2.5em;

        &.icon {
            font-size: 2.5em;
        }
    }

    .calendar-menu-weather.today.condition.label {
        //color: if($bar-menus-monochrome, $bar-menus-label, $bar-menus-menu-clock-weather-status);
        font-size: 1.5em;
        margin-bottom: 0.4em;
    }

    .calendar-menu-weather.today.temp.label.icon.weather-color.red {
        /*color: if(
            $bar-menus-monochrome,
            $bar-menus-icons-active,
            $bar-menus-menu-clock-weather-thermometer-extremelyhot
        );*/
    }

    .calendar-menu-weather.today.temp.label.icon.weather-color.orange {
        //color: if($bar-menus-monochrome, $bar-menus-icons-active, $bar-menus-menu-clock-weather-thermometer-hot);
    }

    .calendar-menu-weather.today.temp.label.icon.weather-color.lavender {
        //color: if($bar-menus-monochrome, $bar-menus-icons-active, $bar-menus-menu-clock-weather-thermometer-moderate);
    }

    .calendar-menu-weather.today.temp.label.icon.weather-color.blue {
        //color: if($bar-menus-monochrome, $bar-menus-icons-active, $bar-menus-menu-clock-weather-thermometer-cold);
    }

    .calendar-menu-weather.today.temp.label.icon.weather-color.sky {
        /*color: if(
            $bar-menus-monochrome,
            $bar-menus-icons-active,
            $bar-menus-menu-clock-weather-thermometer-extremelycold
        );*/
    }
}

.calendar-menu-weather.today.stats.container {
    margin-bottom: 0.75em;
    //color: if($bar-menus-monochrome, $bar-menus-label, $bar-menus-menu-clock-weather-stats);

    .weather.label {
        margin-left: 0.35em;
    }
}

.menu-separator.weather {
    margin: 1.5em 0em;
}

.hourly-weather-time {
    //color: if($bar-menus-monochrome, $bar-menus-label, $bar-menus-menu-clock-weather-hourly-time);
    margin-bottom: 0.5em;
}

.hourly-weather-icon {
    //color: if($bar-menus-monochrome, $bar-menus-icons-active, $bar-menus-menu-clock-weather-hourly-icon);
    margin-bottom: 0.25em;
    font-size: 1.8em;
}

.hourly-weather-temp {
    //color: if($bar-menus-monochrome, $bar-menus-label, $bar-menus-menu-clock-weather-hourly-temperature);
}

.weather.precip.icon {
    min-width: 1em;
    font-size: 1em;
}

.weather.wind.icon {
    min-width: 1em;
    font-size: 1em;
}
box.MediaPlayer {
    padding: .6rem;
    background: $bg;
    border-radius: calc($radius / 1.5);
    margin: 5px 10px;
    border: 0;
    centerbox box button {
        background: transparent;
        border: 0;
        &:hover {
           background: gtkalpha($fg, .1); 
        }
    }
    box.cover-art {
        min-width: 120px;
        min-height: 120px;
        border-radius: 9px;
        margin-right: .6rem;
        background-size: contain;
        background-position: center;
    }

    box.title {
        label {
            font-weight: bold;
            font-size: 1.1em;
        }
    }

    scale {
        * {
            all: unset;
        }

        icon {
            margin-right: .6em;
        }

        & {
            margin: 0 .05em;
        }

        trough {
            background-color: gtkalpha($fg, .2);
            border-radius: 7px;
        }

        highlight {
            background-color: $color3;
            min-height: .8em;
            border-radius: 7px;
        }

        slider {
            background-color: transparent;
            border-radius: 7px;
            min-height: 1em;
            min-width: 1em;
            margin: -.2em;
        }
    }

    centerbox.actions {
        min-width: 220px;

        button {
            min-width: 0;
            min-height: 0;
            padding: .4rem;
            margin: 0 .2rem;
        }
    }
}

box.NotificationCenter {
    background: $bg;
    min-width: 430px;
    min-height: 400px;
}
eventbox.Notification {
    *button {
        background: gtkalpha($fg, .1);
        border: 0;
        -gtk-icon-shadow: none;
    }
    *button:hover {
        background: gtkalpha($fg, .15);
    }
    &:first-child>box {
        margin-top: 1rem;
    }

    &:last-child>box {
        margin-bottom: 1rem;
    }

    // eventboxes can not take margins so we style its inner box instead
    >box {
        min-width: 400px;
        border-radius: 13px;
        background-color: $bg;
        margin: .5rem 1rem .5rem 1rem;
        box-shadow: 2px 3px 8px 0 gtkalpha(black, .4);
    }

    &.critical>box {
        border: 1pt solid gtkalpha(red, .4);

        .header {

            .app-name {
                color: gtkalpha(red, .8);

            }

            .app-icon {
                color: gtkalpha(red, .6);
            }
        }
    }

    .header {
        padding: .5rem;
        color: gtkalpha($fg, 0.5);

        .app-icon {
            margin: 0 .4rem;
        }

        .app-name {
            margin-right: .3rem;
            font-weight: bold;

            &:first-child {
                margin-left: .4rem;
            }
        }

        .time {
            margin: 0 .4rem;
        }

        button {
            padding: .2rem;
            min-width: 0;
            min-height: 0;
        }
    }

    separator {
        margin: 0 .4rem;
        background-color: gtkalpha($fg, .1);
    }

    .content {
        margin: 1rem;
        margin-top: .5rem;

        .summary {
            font-size: 1.2em;
            color: $fg;
        }

        .body {
            color: gtkalpha($fg, 0.8);
        }

        .image {
            border: 1px solid gtkalpha($fg, .02);
            margin-right: .5rem;
            border-radius: 9px;
            min-width: 100px;
            min-height: 100px;
            background-size: cover;
            background-position: center;
        }
    }

    .actions {
        margin: 1rem;
        margin-top: 0;

        button {
            margin: 0 .3rem;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}
box.NotificationsMenu {
    background: $bg;
    margin: 10px;
    border-radius: $radius;
    min-width: 350px;
    .actions {
        margin: 10px;
        button {
            background: gtkalpha($fg, .1);
            -gtk-icon-shadow: none;
            border: 0;
            border-radius: calc($radius / 1.5);
        }
        button:hover {
            background: gtkalpha($fg, .15);
        }
        .active {
            background: $color3;
        }
    }
    eventbox.Notification {
        *button {
            background: gtkalpha($fg, .1);
            border: 0;
            -gtk-icon-shadow: none;
        }
        *button:hover {
            background: gtkalpha($fg, .15);
        }
        &:first-child>box {
            margin-top: 1rem;
        }

        &:last-child>box {
            margin-bottom: 1rem;
        }

        // eventboxes can not take margins so we style its inner box instead
        >box {
            min-width: 400px;
            border-radius: 13px;
            background-color: gtkalpha($fg, .1);
            margin: .5rem 1rem .5rem 1rem;
            box-shadow: none;
        }

        &.critical>box {
            border: 1pt solid gtkalpha(red, .4);

            .header {

                .app-name {
                    color: gtkalpha(red, .8);

                }

                .app-icon {
                    color: gtkalpha(red, .6);
                }
            }
        }

        .header {
            padding: .5rem;
            color: gtkalpha($fg, 0.5);

            .app-icon {
                margin: 0 .4rem;
            }

            .app-name {
                margin-right: .3rem;
                font-weight: bold;

                &:first-child {
                    margin-left: .4rem;
                }
            }

            .time {
                margin: 0 .4rem;
            }

            button {
                padding: .2rem;
                min-width: 0;
                min-height: 0;
            }
        }

        separator {
            margin: 0 .4rem;
            background-color: gtkalpha($fg, .1);
        }

        .content {
            margin: 1rem;
            margin-top: .5rem;

            .summary {
                font-size: 1.2em;
                color: $fg;
            }

            .body {
                color: gtkalpha($fg, 0.8);
            }

            .image {
                border: 1px solid gtkalpha($fg, .02);
                margin-right: .5rem;
                border-radius: 9px;
                min-width: 100px;
                min-height: 100px;
                background-size: cover;
                background-position: center;
            }
        }

        .actions {
            margin: 1rem;
            margin-top: 0;

            button {
                margin: 0 .3rem;


                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    .Time {
        font-size: 100px;
    }

}
window.OSD {
    box.OSD {
        border-radius: $radius;
        background-color: $bg;
        padding: 5px 16px;
        margin: 13px;
        box-shadow: 3px 3px 7px 0 rgba(0,0,0,.4);
        .OSDSlider {
        * {
            all: unset;
        }

        icon {
            margin-right: .6em;
        }

        & {
            margin: 0 1em;
        }

        trough {
            background-color: gtkalpha($fg, .2);
            border-radius: $radius;
        }

        highlight {
            background-color: $color3;
            min-height: 1em;
            border-radius: $radius;
        }
    }

    icon {
        font-size: 4rem;
    }

    label {
        font-size: 1.7rem;
    }
    }

    levelbar {
        outline: 0;
        border: 0;
        background: 0;
        block {
            min-height: 2rem;
            background: $color3;
            outline: 0;
            border: 0;
        }
        trough {
            background: gtkalpha($fg, .2);
        }
    }
}
box.Power {
    background: $bg;
    padding: .7em;
    padding-bottom: 1em;
    border-radius: $radius;
    margin: .3em;
    button {
        border: 0;
        background: transparent;
        margin: 0 .5em;
        padding: .1em;
        border-radius: $radius;
        &:hover {
            background: gtkalpha($fg, .1);
        }
        icon {
            font-size: 10em;
        }
    }
}
.settings {
    min-width: 600px;
    min-height: 600px;
    padding: 5px;
    background: $bg;
    stack box {
        background: gtkalpha($fg, .05);
        border-radius: $radius;
        margin: 10px;
        padding: 10px;
    }
    .stackbar {
        background: gtkalpha($fg, .05);
        min-width: 10rem;
        padding: 5px;
        button {
            background: transparent;
            border: 0;
            font-size: 20px;
            padding: 4px 10px;
            border-radius: $radius; 
            &:hover {
                background: gtkalpha($fg, .1);
            }
            &.active {
                background: $color3;
                color: color.scale($color3, $lightness: -90%);
                &:hover {
                    background: color.scale($color3, $lightness: 10%);
                }
                &:active {
                    background: color.scale($color3, $lightness: -10%);
                }
            }
            label {
                font-size: 14px;
                margin: 0 0 0 3px;
            }
        }
    }
    .switch {
        background: gtkalpha($fg, .1);
        min-width: 50px;
        min-height: 10px;
        &.active {
            background: $color3;
        }
    }
}
window#launcher {
    all: unset;

    box.Applauncher {
        background-color: $bg;
        border-radius: 11px;
        margin: 1rem;
        padding: .8rem;
        box-shadow: 2px 3px 8px 0 gtkalpha(black, .4);

        entry {
            margin-bottom: .8rem;
            border: 0;
            background: gtkalpha($fg, .1);
            &:active {
                border: $color3;
            }
        }

        button {
            min-width: 0;
            min-height: 0;
            padding: .5rem;
            border: 0;
            border-radius: calc($radius / 1.5);
            background: transparent;
            transition: 0.2s;
            
            &:hover {
                background: gtkalpha($fg, .1);
            }

            &:focus {
                background: $color3;
                &:hover {
                    background: color.scale($color3, $lightness: 10%);
                }
            }

            icon {
                font-size: 3em;
                margin-right: .3rem;
            }

            label.name {
                font-weight: bold;
                font-size: 1.1em
            }

            label.description {
                color: gtkalpha($fg, .8);
            }
        }

        box.not-found {
            padding: 1rem;

            icon {
                font-size: 6em;
                color: gtkalpha($fg, .7);
            }

            label {
                color: gtkalpha($fg, .9);
                font-size: 1.2em;
            }
        }
    }
}
box.dock {
    background: $bg;
    padding: 5px;
    border-radius: $radius;
    margin: 0 0 5px 0;
    button {
        background: transparent;
        padding: 5px 5px;
        border-radius: calc($radius / 1.2);
        &:hover {
            background: gtkalpha($fg, .1);
        }
        icon {
            font-size: 50px;
            margin: 0;
        }
        &.not-executed {
            icon {
                opacity: .6;
            }
        }
    }
    .seperator {
         border: 1px solid gtkalpha($fg, .3);
         margin: 6px 3px;
    }
}
.screenshot {
    background-image: url("../../.cache/bilaldot/screenshot.png");
    .buttons {
        background: $bg;
        padding: 15px;
        border-radius: $radius;
        margin: 10px;
        box-shadow: 2px 3px 8px 0 gtkalpha(black, .4);
        .seperator {
            border-right: 1px solid gtkalpha($fg, .3);
            margin: 3px 3px;
        }
        button {
            border-radius: calc($radius / 1.5);
            border: 0;
            background: gtkalpha($fg, .1);
            label {
                font-weight: bold;
            }
            &:hover {
                background: gtkalpha($fg, .15);
            }
        }
    }
}
.lock {
    background: $bg;
    entry {
        
    }
}
box.Overview {
    background: $bg;
    margin: 10px;
    border-radius: $radius;
    padding: 5px;
    .workspace {
        background: gtkalpha($fg, .05);
        border-radius: $radius;
        margin: 5px;
        min-width: 384px;
        min-height: 216px;
        button {
            background: gtkalpha($fg, .05);
            border-radius: $radius;
            &:hover {
                background: gtkalpha($fg, .1);
            }
            box {
                
            }
        }
    }
}
.onscreenkeyboard {
    background: $bg;
    border-radius: $radius;
    padding: 10px;
    margin: 5px;
}